<h3>Register</h3>
<form action="/register" method="post">

  <label for="email"><b>Email</b></label>
  <input type="text" placeholder="Enter email" name="email">

  <label for="firstname"><b>Firstname</b></label>
  <input type="text" placeholder="Enter Firstname" name="firstname">

  <label for="lastname"><b>Lastname</b></label>
  <input type="text" placeholder="Enter Lastname" name="lastname">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn">

</form>